<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- partial('partials/base/shareMeta') %>
    <%- partial('partials/base/import/css') %>
  </head>
  <body>
    <%- partial('partials/base/navbar') %>
    <div class="container-lg my-4"><%- body %></div>

    <%- partial('partials/base/search/searchModal') %>
    <%- partial('partials/base/goTopBtn') %>

    <%- partial('partials/base/import/js') %>
  </body>
</html>
