<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- partial('partials/base/shareMeta') %>
    <%- partial('partials/base/import/css') %>
  </head>
  <body data-bs-theme="dark">
    <%- partial('partials/base/themeInitScript') %>

    <div class="min-vh-100 d-flex flex-column">
      <%- partial('partials/base/navbar') %>
      <div class="flex-grow-1 container-lg mt-4 mb-5"><%- body %></div>
      <%- partial('partials/base/footer') %>
    </div>

    <%- partial('partials/base/search/searchModal') %>
    <%- partial('partials/base/goTopBtn') %>

    <%- partial('partials/base/import/js') %>
  </body>
</html>
