<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- partial('partials/import/css') %>
  </head>
  <body>
    <%- partial('partials/navbar') %>
    <div class="container-lg my-4"><%- body %></div>

    <%- partial('partials/goTopBtn') %>

    <%- partial('partials/import/js') %>
  </body>
</html>
