<div class="post">
  <% if (page.cover) { %>
  <div class="text-center mb-4">
    <img
      class="img-fluid rounded"
      width="1200"
      height="630"
      src="<%= page.cover %>"
      alt="cover"
    />
  </div>
  <% } %>

  <h1><%= page.title %></h1>

  <hr />

  <div class="d-flex flex-column gap-2 mb-4">
    <% if (page.categories.length > 0) { %>
    <div>
      <%- partial('partials/categories', { categories: page.categories }) %>
    </div>
    <% } %> 

    <% if (page.tags.length > 0) { %>
    <div>
      <%- partial('partials/tags', { tags: page.tags }) %>
    </div>
    <% } %>
  </div>

  <div class="content"><%- page.content %></div>
</div>