<div class="post">
  <h1><%= page.title %></h1>
  <hr />

  <div class="d-flex flex-column gap-2 mb-4">
    <% if (page.categories.length > 0) { %>
    <div>
      <%- partial('partials/categoryLinks', { categories: page.categories }) %>
    </div>
    <% } %> 

    <% if (page.tags.length > 0) { %>
    <div>
      <%- partial('partials/tagLinks', { tags: page.tags }) %>
    </div>
    <% } %>
  </div>

  <% if (theme.post.show_cover && page.cover) { %>
  <div class="text-center mb-4">
    <img
      class="img-fluid rounded"
      width="1200"
      height="630"
      src="<%= page.cover %>"
      alt="cover"
    />
  </div>
  <% } %>

  <div class="content">
    <% if (theme.post.show_description) { %>
      <p><%= page.description %></p>
    <% } %>
    <%- page.content %>
  </div>
</div>