<div class="post">
  <% if (page.cover) { %>
  <div class="text-center mb-4">
    <img
      class="img-fluid rounded"
      width="1200"
      height="630"
      src="<%= page.cover %>"
      alt="cover"
    />
  </div>
  <% } %>

  <h1><%= page.title %></h1>

  <div class="mb-3">
    <%- partial('partials/categories', { categories: page.categories }) %>
  </div>
  <div class="mb-4"><%- partial('partials/tags', { tags: page.tags }) %></div>

  <div class="post-content"><%- page.content %></div>
</div>

<style>
  .post .post-content h2::after {
    content: '';
    display: block;
    height: 1px;
    background-color: var(--bs-body-color);
    margin-top: 6px;
    margin-bottom: 18px;
  }
</style>
