<nav
  id="navbar"
  class="navbar navbar-expand-lg bg-body-tertiary sticky-top shadow-sm"
>
  <div class="container-lg">
    <a id="logo" class="navbar-brand" href="<%= url_for() %>">
      <% if (theme.logo.image) { %>
      <img
        class="me-1"
        src="<%= url_or_path(theme.logo.image) %>"
        height="50"
        alt="logo"
      />
      <% } %> <%= theme.logo.title || config.title %>
    </a>
    <button
      class="navbar-toggler px-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
    >
      <i class="bi bi-list icon-20"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link <%= is_home() ? 'active' : '' %>"
            href="<%= url_for() %>"
          >
            <i class="bi bi-house-fill icon-20"></i>
            <%= __('home') %>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= is_archive() ? 'active' : '' %>"
            href="<%= url_for('archives') %>"
          >
            <i class="bi bi-list-ul icon-20"></i>
            <%= __('list') %>
          </a>
        </li>
        <% if (site.categories.length > 0) { %>
        <li class="nav-item">
          <a
            class="nav-link <%= path.includes('categories/') ? 'active' : '' %>"
            href="<%= url_for('categories') %>"
          >
            <i class="bi bi-folder-fill icon-20"></i>
            <%= __('categories') %>
          </a>
        </li>
        <% } %> <% if (site.tags.length > 0) { %>
        <li class="nav-item">
          <a
            class="nav-link <%= path.includes('tags/') ? 'active' : '' %>"
            href="<%= url_for('tags') %>"
          >
            <i class="bi bi-tags-fill icon-20"></i>
            <%= __('tags') %>
          </a>
        </li>
        <% } %>
      </ul>

      <div class="d-flex justify-content-center">
        <%- partial('partials/base/toggleThemeBtn') %> <%-
        partial('partials/base/search/searchBtn') %>
      </div>
    </div>
  </div>
</nav>
