<% 
let title = config.title;
if (config.subtitle) {
  title += ` | ${config.subtitle}`;
}
%>

<title><%= title %></title>
<meta name="description" content="<%= config.description %>" />
<% if (theme.favicon) { %>
  <link rel="icon" type="image/x-icon" href="<%= url_or_path(theme.favicon) %>">
<% } %>

<meta property="og:type" content="website" />
<meta property="og:url" content="<%= config.url %>" />
<meta property="og:title" content="<%= title %>" />
<meta property="og:description" content="<%= config.description %>" />
<meta property="og:image" content="<%= url_or_path(theme.share_image) %>" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="<%= title %>" />
<meta name="twitter:description" content="<%= config.description %>" />
<meta name="twitter:image" content="<%= url_or_path(theme.share_image) %>" />