<% 
let title = config.title;
if (config.subtitle) {
  title += ` | ${config.subtitle}`;
}
%>

<title><%= title %></title>
<meta name="description" content="<%= config.description %>">

<meta property="og:type" content="website">
<meta property="og:url" content="<%= config.url %>">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= config.description %>">
<meta property="og:image" content="<%= theme.share_image %>">

<meta name="twitter:card" value="summary_large_image" />
<meta name="twitter:title" value="<%= title %>" />
<meta name="twitter:description" value="<%= config.description %>" />
<meta name="twitter:image" value="<%= theme.share_image %>" />