<nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary sticky-top shadow-sm">
  <div class="container-lg">
    <a class="navbar-brand" href="<%= config.url %>">
      <% if (theme.logo.image) { %>
      <img class="me-1" src="<%= theme.logo_image %>" height="50" alt="logo" />
      <% } %>
      <%= theme.logo.title %>
    </a>
    <button
      class="navbar-toggler px-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
    >
      <i class="bi bi-list"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a 
            class="nav-link <%= is_home() ? 'active' : '' %>" 
            href="<%= config.url %>"
          >
            <i class="bi bi-house-fill"></i>
            首頁
          </a>
        </li>
        <li class="nav-item">
          <a 
            class="nav-link <%= is_archive() ? 'active' : '' %>" 
            href="<%= full_url_for('archives') %>"
          >
            <i class="bi bi-list-ul"></i>
            列表
          </a>
        </li>
        <% if (site.categories.length > 0) { %>
        <li class="nav-item">
          <a
            class="nav-link <%= path.includes('categories/') ? 'active' : '' %>"
            href="<%= full_url_for('categories') %>"
          >
            <i class="bi bi-folder-fill"></i>
            分類
          </a>
        </li>
        <% } %>
        <% if (site.tags.length > 0) { %>
        <li class="nav-item">
          <a 
            class="nav-link <%= path.includes('tags/') ? 'active' : '' %>" 
            href="<%= full_url_for('tags') %>"
          >
            <i class="bi bi-tags-fill"></i>
            標籤
          </a>
        </li>
        <% } %>
      </ul>

      <div class="d-flex justify-content-center">
        <%- partial('partials/toggleThemeBtn')  %>
        <%- partial('partials/search/searchBtn')  %>
      </div>
    </div>
  </div>
</nav>
