<nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary sticky-top shadow-sm">
  <div class="container-lg">
    <a class="navbar-brand" href="<%= config.url %>">
      <% if (config.logo_image) { %>
      <img class="me-1" src="<%= config.logo_image %>" height="50" alt="logo" />
      <% } %>
      <%= config.logo_title %>
    </a>
    <button
      class="navbar-toggler px-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
    >
      <i class="bi bi-list"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a 
            class="nav-link <%= is_home() ? 'active' : '' %>" 
            href="<%= config.url %>"
          >
            首頁
          </a>
        </li>
        <li class="nav-item">
          <a 
            class="nav-link <%= is_archive() ? 'active' : '' %>" 
            href="<%= full_url_for('archives') %>"
          >
            文章列表
          </a>
        </li>
        <% if (site.categories.length > 0) { %>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
          >
            文章分類
          </a>
          <ul class="dropdown-menu">
            <% site.categories.each(function(category){ %>
            <li>
              <a class="dropdown-item" href="<%= category.permalink %>">
                <%= category.name %> (<%= category.length %>)
              </a>
            </li>
            <% }) %>
          </ul>
        </li>
        <% } %>
        <li class="nav-item">
          <a 
            class="nav-link <%= path.includes('tags/') ? 'active' : '' %>" 
            href="<%= full_url_for('tags') %>"
          >
            文章標籤
          </a>
        </li>
      </ul>

      <div class="d-flex justify-content-center">
        <%- partial('partials/toggleThemeBtn')  %>
        <%- partial('partials/search/searchBtn')  %>
      </div>
    </div>
  </div>
</nav>
