<div class="post-card card mb-3">
  <div class="row g-0 h-100">
    <% if (post.cover) { %>
    <a href="<%= post.permalink %>" class="col-md-4 h-100">
      <img
        src="<%= post.cover %>"
        class="w-100 h-100 object-fit-cover"
        width="1200"
        height="630"
        alt="cover"
      />
    </a>
    <% } %>

    <div class="<%= post.cover ? 'col-md-8' : 'col-md-12' %>">
      <div class="card-body h-100 d-flex flex-column">
        <h5 class="title card-title">
          <a href="<%= post.permalink %>" class="link-offset-1">
            <%= post.title %>
          </a>
        </h5>
        <div class="card-text mb-3">
          <%- partial('partials/categories', { categories: post.categories })
          %>
        </div>
        <p class="excerpt card-text"><%= post.excerpt %></p>
        <div class="card-text mb-1 mt-auto">
          <%- partial('partials/tags', { tags: post.tags }) %>
        </div>
        <p class="card-text">
          <small class="text-body-secondary">
            <time datetime="<%= post.date.toISOString() %>">
              <%= post.date.format('YYYY-MM-DD') %>
            </time>
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
